[submodule "Dicom_RT_and_Images_to_Mask"]
	path = Dicom_RT_and_Images_to_Mask
	url = https://github.com/brianmanderson/Dicom_RT_and_Images_to_Mask.git
[submodule "Copy_Folders"]
	path = Copy_Folders
	url = https://github.com/brianmanderson/Copy_Folders.git
[submodule "Callbacks"]
	path = Callbacks
	url = https://github.com/brianmanderson/Callbacks.git
[submodule "Visualizing_Model"]
	path = Visualizing_Model
	url = https://github.com/brianmanderson/Visualizing_Model.git
[submodule "Easy_VGG16_UNet"]
	path = Easy_VGG16_UNet
	url = https://github.com/brianmanderson/Easy_VGG16_UNet.git
